<!-- Currency Hard Delete Modal ! -->
<div class="modal fade" id="currencyHardDeleteModel" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h4 class="modal-title text-white">Currency silinsin mi ?</h4>
                <button type="button" class="btn-close btn-close-white text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body text-center">
                    <i class="bi bi-x-octagon-fill text-danger" style="font-size: 35px;"></i>
                    
                    <p class="modalBodyText"> <strong>Dikkat !</strong> Bu Dövizi kalıcı olarak silmek istediğinize emin misiniz ?</p>
                    <p> <strong>Uyarı !</strong> Bu Döviz veritabanından kalıcı olarak silinecek ve bir daha geri getirilemeyecektir, bunu onaylıyormusunuz ?</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-arrow-circle-left"></i> Cancel</button>
                <a href="" class="btn btn-danger currencyHardDeleteButon"><i class="far fa-trash-alt"></i> Hard Delete</a>
            </div>
        </div>
    </div>
</div>